################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/VubbidsAPIProject/.vs/VubbidsAPIProject/FileContentIndex/f5c43d9a-06cb-4d0a-a2f0-ab7a97f7e124.vsidx
/BackEnd/VubbidsAPIProject/.vs/VubbidsAPIProject/FileContentIndex/27ade9bf-cfc5-49f4-bfa3-606f972df49e.vsidx
/BackEnd/VubbidsAPIProject/.vs/VubbidsAPIProject/FileContentIndex/743b0229-61bd-493b-8e87-2f69e595cfbd.vsidx
