################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/VubbidsAPIProject/.vs/VubbidsAPIProject/FileContentIndex/f5c43d9a-06cb-4d0a-a2f0-ab7a97f7e124.vsidx
/BackEnd/VubbidsAPIProject/.vs/VubbidsAPIProject/FileContentIndex/27ade9bf-cfc5-49f4-bfa3-606f972df49e.vsidx
/BackEnd/VubbidsAPIProject/.vs/VubbidsAPIProject/FileContentIndex/743b0229-61bd-493b-8e87-2f69e595cfbd.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/060cad84-647b-46eb-883f-5611cd0875b7.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/0c737c30-6aad-4790-955e-1a53c1b40906.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/d3935f1e-5970-490e-8dce-004be8db5ccd.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/e1c0e666-c20f-4349-acbe-be041bb3f18e.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/fe118264-3204-489d-9e68-26f8d78acd57.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/7bff2eff-717e-4cf0-acb7-14f9cd594099.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/a401c8a9-c20b-4aaf-a70d-aa585f91bdcf.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/f6685c13-af4c-4b48-9ccd-b66c6252d1db.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/c3a4bcc1-7cc2-455e-965b-b0bb3cf08a59.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/dd878ff5-dda6-44b7-b361-74c0c5616c56.vsidx
/BackEnd/API/.vs/JetSendAPI/FileContentIndex/3bb1616d-1a35-456b-99a0-284b8be70816.vsidx
/BackEnd/API/obj/Debug/net8.0/EndpointInfo/JetSend.API.json
/BackEnd/API/obj/Debug/net8.0/EndpointInfo/VubUsersAPI.OpenApiFiles.cache
/BackEnd/API/obj/Debug/net8.0/ref/VubUsersAPI.dll
/BackEnd/API/obj/Debug/net8.0/refint/VubUsersAPI.dll
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/3a49530a-f358-4809-8159-528f95ce257e.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/bd62ff89-900f-47fd-8f93-cf18f9953f16.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/6cefa6f4-fb1b-4c8e-8bd2-8ea00d6bdd61.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/e9e36c0f-49ee-4806-9b02-d0b20c7f0b06.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/979251bf-9ef2-42b8-8568-f4ac68490c7d.vsidx
/BackEnd/JetSendAPIProject/.vs/JetSendAPIProject/FileContentIndex/c3909c0a-781a-4868-a379-abe0bdd6f280.vsidx
